@font-face {
    font-family: 'FK Grotesk';
    src: url('/fonts/FKGrotesk-Regular.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}


/* Fix for rendering SVGs in Safari */
.md-nav__link svg {
    transform: translate(0, 0);
}

.md-header__title{
    font-family: 'FK Grotesk', sans-serif;
}

sup {
    font-size: 10px;
}

footer {
    color: #fff;
}

.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem auto;
}

.footer-column {
    padding: 10px;
}

footer .footer-logo .citcom-logo {
    width: 5rem;
    filter: invert(100%);
}

footer .footer-logo .vrain-logo {
    width: 5rem;
    margin-left: 1rem;
}

footer .footer-tagline img {
    width: 8rem;
}

footer .footer-tagline p {
    font-size: 0.4rem;
    margin: 0;
    padding: 0;
}

figure {
  max-width: 100% !important;
  width: auto !important;
}

figure > svg {
  width: 100% !important;
  height: auto !important;
}
